/* reset */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */
a {
  text-decoration: none;
}

.txt-rt {
  text-align: right;
}

/* text align right */
.txt-lt {
  text-align: left;
}

/* text align left */
.txt-center {
  text-align: center;
}

/* text align center */
.float-rt {
  float: right;
}

/* float right */
.float-lt {
  float: left;
}

/* float left */
.clear {
  clear: both;
}

/* clear float */
.pos-relative {
  position: relative;
}

/* Position Relative */
.pos-absolute {
  position: absolute;
}

/* Position Absolute */
.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
  vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
  display: block;
}

/* vertical menu */
nav.horizontal ul li {
  display: inline-block;
}

/* horizontal menu */
img {
  max-width: 100%;
}

/*end reset*/
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

body .container {
  max-width: 1140px;
  margin: auto;
}

body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .text-center {
  text-align: center !important;
}

body .section-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

body .section-title h1 {
  display: inline-block;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: #303030;
  margin: 0 0 10px;
  position: relative;
  padding-bottom: 0px;
}

body .section-title h1::before {
  content: '';
  left: 0;
  position: absolute;
  height: 2px;
  right: 30%;
  background-color: #febd01;
  bottom: 0px;
}

body header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0px 15px;
  z-index: 11;
  opacity: 0.5;
}

body header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .row .brand a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  position: relative;
}

body header .row .navbar ul {
  list-style: none;
}

body header .row .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}

body header .row .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 72px;
  color: #000;
  display: block;
  font-weight: 600;
  position: relative;
}

body header .row .navbar ul li a::before {
  content: '';
  height: 3px;
  background-color: #00bfff;
  width: 0%;
  position: absolute;
  right: 0px;
  bottom: -1px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body header .row .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}

body header .row .navbar ul li a.active::before {
  width: 100%;
  left: 0;
}

body .hometest {
  padding: 100px 15px 70px;
  position: relative;
}

body .hometest .section-title h1::before {
  left: 30%;
}

body .hometest .home-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .hometest .home-content .disp_data {
  padding: 30px 15px;
}

body .hometest .home-content .disp_data table td, body .hometest .home-content .disp_data table th {
  border: 1px solid #ddd;
  padding: 8px;
}

body .hometest .home-content .disp_data table tr:nth-child(even) {
  background-color: #f2f2f2;
}

body .hometest .home-content .disp_data table tr:hover {
  background-color: #ddd;
}

body .hometest .home-content .disp_data table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0197f6;
  color: white;
}

body .hometest .home-content .disp_data table th:hover {
  background-color: #00bfff;
}

body .hometest .home-content .disp_data table th a {
  list-style: none;
  color: #fff;
}
/*# sourceMappingURL=home.css.map */